html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
.search {
  width: 27%;
  left: 37%;
  position: relative;
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(185, 176, 178);
  font: 20px Tahoma, Arial, sans-serif;
  color: rgb(20, 20, 20);
  outline: none;
}

.search .input:focus {
  color: rgb(70, 70, 70);
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;

  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png)
    50% no-repeat;
}

.search .submit:hover {
  opacity: 0.8;
}

input[type='search'] {
  -webkit-appearance: none;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 120px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  background: rgb(140, 50, 150);
}

.photo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.photo-card {
  padding: 5px;
  margin: 15px;
  width: calc((100% - 250px) / 3);
  background: rgb(185, 176, 178);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(21, 20, 22, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.photo-card:nth-child(3n) {
  margin-right: 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  color: rgb(70, 10, 77);
}

.material-icons {
  display: flex;
  justify-content: center;
  color: rgb(70, 10, 77);
}

.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgb(185, 176, 178);
  color: rgb(70, 10, 77);
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.back_to_top:hover {
  background: rgb(255, 255, 255);
}

.back_to_top-show {
  display: block;
}